language: cpp

compiler:
  - clang++
  - g++

before_install:
  # g++4.8.1
  - if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi

  # clang 3.4
  - if [ "$CXX" == "clang++" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm; fi

  - sudo apt-get update -qq
  
install:
  # g++4.8.1
  - if [ "$CXX" == "g++" ]; then sudo apt-get install -qq gcc-4.8 g++-4.8; fi
  - if [ "$CXX" == "g++" ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90; fi

  # clang 3.4
  - if [ "$CXX" == "clang++" ]; then sudo apt-get install --allow-unauthenticated -qq clang-3.4; fi
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.4"; fi
  - cd ${TRAVIS_BUILD_DIR}
  # install latest LCOV (1.9 was failing for me) [1]
  - wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz
  - tar xf lcov_1.11.orig.tar.gz
  - sudo make -C lcov-1.11/ install
  # install lcov to coveralls conversion + upload tool
  - gem install coveralls-lcov
  
before_script: 
  - cd ${TRAVIS_BUILD_DIR}
  - lcov --directory . --zerocounters

script: 
  - cd ${TRAVIS_BUILD_DIR}
  - make compiler && make machine && make test && ./simplevm-test

env:
  global:
    - "FTP_USER=bnsmith"
    - secure: "Iqkk6B8HCcZ0L/RswzGTxEw0u4RueobQrgpbfFXhbu55rroxMaIPVM2PYmKREDlNqBBiIVgaWQHMme7W6A5eFko9lBD+oVk2BhoJaVOsATZ6aRdFnrzZJ3/+kw+VqLMrhDsOqm3zdJ7BSNSFAJubmaYeSUgt9WEQj1E9sfS8wm4="
    - secure: "PYtEaHI9TIMsGuALWDDA8qpdbZynA4aJnNWlSeb7sovIC3S34bYwVn6DQl/q/dkE8+IzWCAOvmfjUoQFGPqqtQTc85lSxfl8CfH1CKnXOFb2zttQxAzC7+/6MMBI0e0qI0xGlzKZW7/UMf2JRvIACTiFY3Rsh1B0e0RyvLwSKXE="
  
after_success:
   - cd ${TRAVIS_BUILD_DIR}
   - lcov --directory . --capture --output-file coverage.info # capture coverage info
   - lcov --remove coverage.info 'tests/*' '/usr/*' --output-file coverage.info # filter out system and test code
   - lcov --list coverage.info # debug before upload
   - coveralls-lcov --repo-token COV_TOKEN coverage.info # uploa
